target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/client-vs-http.iml
/.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
coverage.opencover.xml
coverlet/
coveralls/
trx2junit/
TestResults/
DotnetVersion/

# Visual Studio 2015/2017 cache/options directory
.vs/

# node modules and distribution
node/node_modules/
node/dist